
<div class="container">

    @{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

    @for (int i = 0; i < 100; i++)
    {
        <p>@i</p>
    }


</div>