
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Strona 2</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Strona-2.css" media="screen">
    @*<script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>*@
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 2.26.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">









    @*<script type="application/ld+json">{
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "Site3",
                "url": "index.html",
                "logo": "images/f7ef306ecc32a0c3972280438aff0f10.png",
                "sameAs": []
        }</script>*@
    <meta property="og:title" content="Strona 2">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ffca00">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
  <body class="u-body"><header class="u-black u-clearfix u-header u-header" id="sec-f778"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-left u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse" style="font-size: 1.25rem;">
            <a class="u-button-style u-nav-link u-text-grey-15" href="#" style="padding: 4px 0; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-spacing-25 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Strona-1.html" style="padding: 8px 0;">Strona 1</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Strona-2.html" style="padding: 8px 0;">Strona 2</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Strona-3.html" style="padding: 8px 0;">Strona 3</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Strona-1.html">Strona 1</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Strona-2.html">Strona 2</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Strona-3.html">Strona 3</a>
</li></ul>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" src="">
          <img src="~/images/f7ef306ecc32a0c3972280438aff0f10.png" class="u-logo-image u-logo-image-1">
        </a>
        <h3 class="u-headline u-text u-text-grey-25 u-text-1">
          <a href="/">MAN Truck Germany</a>
        </h3>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-ae62">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-size-20-md u-size-xs-30 u-image-1" src="" data-image-width="360" data-image-height="270">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-image u-layout-cell u-size-20 u-size-20-md u-size-xs-30 u-image-2" src="" data-image-width="2000" data-image-height="1333">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-size-xs-60 u-white u-layout-cell-3">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <h3 class="u-text u-text-1">Sample Headline</h3>
                  <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-954e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-text u-text-1">Przykładowy nagłówek</h2>
            <p class="u-text u-text-2">Przykładowy tekst. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-shading u-section-3" src="" data-image-width="1600" data-image-height="1000" id="sec-37da">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-heading-font u-text u-title u-text-1">Sample Headline</h1>
                  <p class="u-large-text u-text u-text-font u-text-variant u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-opacity u-opacity-45 u-right-cell u-size-30 u-white u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-expanded-width u-form u-form-1">
                    <form action="#" method="POST" class="u-block-2221-12 u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" source="custom" style="">
                      <div class="u-form-group u-form-name u-form-group-1">
                        <label for="name-99bc" class="u-form-control-hidden u-label">Nazwa</label>
                        <input type="text" placeholder="Nazwa" id="name-99bc" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                         <div class="u-form-group u-form-name u-form-group-1">
                        <label for="name-99bc" class="u-form-control-hidden u-label">Nazwisko</label>
                        <input type="text" placeholder="Nazwisko" id="lastname-99bc" name="lastname" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-email u-form-group u-form-group-2">
                        <label for="email-99bc" class="u-form-control-hidden u-label">E-mail</label>
                        <input type="email" placeholder="E-mail" id="email-99bc" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-message u-form-group-3">
                        <label for="message-99bc" class="u-form-control-hidden u-label">Wiadomość</label>
                        <textarea placeholder="Wiadomość" rows="4" cols="50" id="message-99bc" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-form-group u-form-submit u-form-group-4">
                        <a href="https://nicepage.com" class="u-btn u-btn-submit u-button-style">Prześlij</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success">Dziękujemy! Twoja wiadomość została wysłana.</div>
                      <div class="u-form-send-error u-form-send-message">Nie można wysłać wiadomości. Proszę poprawić błędy i spróbować ponownie.</div>
                      <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-2804">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-white u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-text u-text-1">Sample Headline</h2>
                  <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" src="" data-image-width="1186" data-image-height="1080">
                <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-3cf0">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div alt="" class="u-align-left u-image u-image-circle u-image-1" src="" data-image-width="360" data-image-height="270"></div>
        <h1 class="u-heading-font u-text u-title u-text-1">Sample Headline</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="sec-92d0">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-repeater u-list-1">
          <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-1" src="~/images/b69775a3f80f43edf77bc6206fce030f.jpeg" data-image-width="1600" data-image-height="579">
              <h3 class="u-text u-text-default u-text-1">Sample Headline</h3>
              <p class="u-text u-text-default u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-2" src="~/images/133fa1539e9ea1ab7ddda052aa996c37.jpeg" data-image-width="360" data-image-height="270">
              <h3 class="u-text u-text-default u-text-3">Sample Headline</h3>
              <p class="u-text u-text-default u-text-4">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-3" src="~/images/a40dff4fd98d056eaab622eb6078e588.jpeg" data-image-width="360" data-image-height="270">
              <h3 class="u-text u-text-default u-text-5">Sample Headline</h3>
              <p class="u-text u-text-default u-text-6">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-7" id="sec-34d0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-20 u-size-20-md u-image-1" src="" data-image-width="360" data-image-height="270">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src="">
                  <h3 class="u-text u-text-1">Sample Headline</h3>
                  <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-image u-layout-cell u-size-20 u-size-20-md u-image-2" src="" data-image-width="360" data-image-height="270">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-white u-layout-cell-3">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <h3 class="u-text u-text-3">Sample Headline</h3>
                  <p class="u-text u-text-4">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-8" id="sec-fa7b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-size-20-md u-size-xs-30 u-image-1" src="" data-image-width="360" data-image-height="270">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-image u-layout-cell u-size-20 u-size-20-md u-size-xs-30 u-image-2" src="" data-image-width="2000" data-image-height="1333">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-size-xs-60 u-white u-layout-cell-3">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <h3 class="u-text u-text-1">Sample Headline</h3>
                  <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   
  </body>
