
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Strona 3</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Strona-3.css" media="screen">
    @*<script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>*@
    <meta name="generator" content="Nicepage 2.26.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    @*<script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site3",
		"url": "index.html",
		"logo": "images/f7ef306ecc32a0c3972280438aff0f10.png",
		"sameAs": []
}</script>*@
    <meta property="og:title" content="Strona 3">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ffca00">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body">

    <section class="u-clearfix u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-xl u-section-1" id="carousel_58d5">
      <div class="u-opacity u-opacity-75 u-palette-5-light-1 u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-left u-container-style u-expand-resize u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1">
                    <img class="u-expanded-width u-image u-image-1" src="~/images/professional-carpenter-working-with-sawing-machine_1157-35631.jpg">
                    <h1 class="u-text u-title u-text-1"> Woodworking Tools</h1>
                    <p class="u-large-text u-text u-text-variant u-text-2"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    <p class="u-text u-text-default u-text-3">Image from <a href="https://www.freepik.com/photos/wood" class="u-border-2 u-border-palette-4-dark-1 u-btn u-button-style u-none u-text-palette-4-dark-1 u-btn-1">Freepik</a>
                    </p>
                    <a href="https://nicepage.com" class="u-black u-border-radius-2 u-btn u-btn-round u-button-style u-hover-palette-5-dark-1 u-btn-2">Next&nbsp;<span class="u-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z"></path></svg><img></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-expand-resize u-layout-cell u-size-30 u-layout-cell-2" src="">
                      <div class="u-container-layout u-valign-bottom">
                        <img class="u-expanded-width u-image u-image-2" src="~/images/trimming-bark-wooden-board-with-circular-saw-joinery_155027-870.jpg">
                      </div>
                    </div>
                    <div class="u-align-left u-container-style u-expand-resize u-layout-cell u-right-cell u-size-30 u-layout-cell-3">
                      <div class="u-container-layout u-valign-bottom">
                        <img class="u-expanded-width u-image u-image-3" src="~/images/male-carpenter-smoothing-wooden-plank-with-sandpaper_23-2147944927.jpg">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-size-30">
                  <div class="u-layout-col">
                    <div class="u-align-left u-container-style u-expand-resize u-layout-cell u-right-cell u-size-60 u-layout-cell-4" src="">
                      <div class="u-container-layout" src="">
                        <img class="u-image u-image-4" src="~/images/handsome-carpenter-working-with-wood_1157-26117.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
  </body>
